@font-face {
  font-family: "Electrohormonix";
  src: url("../fonts/electroharmonix.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "joystix";
  src: url("../fonts/joystix monospace.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--dark-bg);
  color: #ffffff;
}
:root {
  --primary-color: #00b5e2;
  --secondary-color: #00629b;
  --dark-bg: #060606;
  --dark-bright-bg: #101010;
  --dark-bright-bg-nav: rgba(16, 16, 16, 0.9);
  --hero-font: "Doto";
  --padding-card: 16px;
}


.logo {
  color: var(--primary-color);
}

h2 {
  font-size: 32px;
  color: white;
}

nav.scrolled {
  background-color: var(--dark-bright-bg); /* Dark Grey */
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Nav Item Hover Effect */
nav ul li a:hover {
  color: #00b5e2; /* Turn text blue */
  transform: scale(1.1); /* Scale up */
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background: #060606;
  overflow: hidden;
}

/* Hero Content */
.hero-content {
  position: absolute;
  z-index: 2;
  text-align: center;
}

.hero-content h1 {
  /* font-family: "Smooch Sans", serif; */
  font-family: var(--hero-font);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#home-h1-humanity {
  font-family: var(--hero-font);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: #00b5e2;
}
.hero-content {
  opacity: 0;
  animation: none /* showContent 1s 0s ease-in-out forwards */;
}

#hero-content-h1 {
  opacity: 0;
  animation: none /* showContent 1s 0.4s ease-in-out forwards */;
}

#home-h1-humanity {
  opacity: 0;
  content: "Humanity";
  animation: none /* showContent 1.2s 0.7s ease-in-out forwards */;
}

@keyframes showContent {
  from {
    transform: translateY(10px);
    filter: blur(2px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes changeColor {
  from {
    color: red;
  }
  to {
    color: #00b5e2;
  }
}
/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn{
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 12px; /* Rounder Buttons */
  transition: 0.3s ease-in-out;
}

.button {
  padding: 12px 24px;
  margin-top: 20px;
  background: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 12px; /* Rounder Buttons */
  transition: 0.3s ease-in-out;
}
.button:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* First button */
.btn:first-child{
  background: var(--secondary-color); /* Blue color */
}

/* Second button */
.btn:last-child {
  background: var(--primary-color); /* Light blue */
}

/* Button Hover Effect */
.btn:hover{
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* Overview Section */
.overview-section {
  background-color: var(--dark-bg);
  padding: 60px 20px;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.text-content {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

.text-content h2 {
  font-size: 32px;
  color: white;
  margin-bottom: 15px;
}

.text-content p {
  font-size: 16px;
  color: #f1f1f1;
  line-height: 2;
}

#join-us{
  margin-bottom: 2rem;
}

.upcoming-events{
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  gap: 2rem;
  margin-bottom: 50px;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.event-card {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  font-family: 'Poppins', Arial;
  text-align: left;
  border: 2px solid #222;
    width: 330px;
    height: 420px;
    border-radius: 30px;
    background: var(--dark-bright-bg);
  transition: transform 0.3s;
  transition: all 0.3s;
}

.event-card::after {
  content: "";
  position: absolute;
  inset:0;
  padding: 3px;
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.event-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.event-type {
  font-size: 0.9rem;
  color: #777;
  margin-top: 0.4rem;
  padding-left: var(--padding-card);
  padding-right: var(--padding-card);
}

.event-date {
  font-size: 0.9rem;
  color: #777;
  margin-top: 0.4rem;
  padding-left: var(--padding-card);
  padding-right: var(--padding-card);
}

.event-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0rem;
  padding-left: var(--padding-card);
  padding-right: var(--padding-card);
}

.event-description {
  font-size: 1rem;
  padding: var(--padding-card);
  color: #AAA;
}

/* Image Section */
.image-content {
  flex: 1;
  max-width: 45%;
  text-align: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      text-align: center;
  }
  .text-content, .image-content {
      max-width: 100%;
  }
  .text-content-h2 {
    order: 1;
  }
  .text-content {
      padding-bottom: 20px;
      order: 3;
  }
  .image-content {
      order: 2;
  }
}

.footer{
  background-color: var(--dark-bright-bg);
}